@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Homenaje&display=swap');


@layer utilities {
  @variants responsive {

    .ken-top {
      top: -113px;
      right: 15%;
    }

    .app-secondary-font {
      font-family: 'Homenaje', sans-serif;
    }

    .banner-top {
      top: 219px;
    }

    .ken_handwriting {
      font-family: 'Homemade Apple', cursive;
    }

    .ken_handwriting-sub-header {
      font-size: 25px;
      font-family: 'Homemade Apple', cursive;
    }

    .max-container-width {
      max-width: 1440px;
    }

    .ken_handwriting-header {
      font-size: 30px;
      /* font-weight: 100; */
      font-family: 'Homemade Apple', cursive;
    }

  }}